.section__hero {
  /* background-color: rgb(236, 242, 248);
  background-image: url('../../../img/hookah.png'),
    url('../../../img/image.png');
  background-position: top center;
  background-size: contain cover;
  background-repeat: no-repeat no-repeat;
  height: 100vh; */
}
